h1 {
    font-family: "SUSE", sans-serif;
    font-weight: 500;
    color: var(--Ptext);
}

h2 {
    color: var(--Ptext);
}

#header-block > h1 {
    display:block;
    text-align: center;
}

#header-block > h2 {
    display:block;
    text-align: center;
}

#header-block{
    background-color: var(--secondary);
    width: 20vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 10em;
    padding: 20px
}

body {
    background-color: var(--primary);
}

#home-body{
    display: grid;
    grid-auto-flow: column;
}

#link-box{
    width:fit-content;
    padding-right: 5vw;
    height:100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    row-gap: 8em;
}

#link-box > button {
    min-width:10em;
    width: 30vw;
    padding: 20px;
    margin-left: 5vw;
    text-align: left;
    background-color: rgba(0,0,0,0);
    border-width: 2px;
    border-color: var(--tertiary);
    border-style: solid;
    border-radius: 30px;
    color: var(--Ptext);
    transition: background-color 0.3s ease;
}

#link-box > button:hover{
    background-color: var(--tertiary);
    color:var(--Stext);
    transition: color 0.3s ease;
    transition: background-color 0.3s ease;
}

#settings > p {
    display: block;
    margin:10px;
}

p > a {
    color: var(--tertiary);
}

#settings{
    padding: 20%;
    align-self: center;
    justify-self: center;
    width: 50%;
    height: fit-content;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#settings > h1 {
    text-align: center;
    justify-self: center;
    border-radius: 30px;
    border-style: solid;
    border-width: 2px;
    border-color: var(--tertiary);
    color: var(--tertiary);
    display: block;
    padding: 5%;
    margin: 10%;
    min-width: fit-content;
}

#parameters{
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    background-color: var(--secondary);
    border-radius: 5px;
    width: 100%;
    height: 40vh;
    row-gap: 20px;
    justify-content: flex-start;
}

input {
    width: 50%;
    display: block;
    background-color: rgba(0,0,0,0);
    color: var(--Ptext);
    border:none;
    border-bottom: solid var(--Ptext);
    text-align:center;
    padding: 5px;
}

input:focus {
    outline: none;
  }

label{
    color: var(--Ptext);
    padding: 5px;
}

#buttons > button{
    color: var(--Stext);
    padding: 5px;
    background-color: var(--tertiary);
    border:none;
    border-radius: 3px;
    min-width: fit-content;
    width: 5em;
}

